
a, li, button {
	cursor: pointer;
}


.btn{
    color: #fff;
    border: none;
    background-color: #008CBA;
    padding: 10px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn.delete{
    background-color: #f44336;
}


.btn.edit{
    background-color: #008CBA;
}

.btn.save{
    background-color: #4CAF50;
}

.rightside{
    position:absolute;
    right: 5%;
}

.leftside{
    left: 5%;
}

.downside{
    position:absolute;
    bottom: 0;  
}

.btn.bubble:after {
    content: "";
    background: #fff;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.75s ease-in-out;
}

.btn.bubble:active:after {
    transform: scale(0);
    opacity: 1;
    transition: 0s;
}

.note{
    border: 1;
    box-shadow: 0 0 25px 5px #ccc;	
    width:100%;
}

.container {
	position: absolute;
	margin: auto;
	padding: 0;
	top: 0; left: 0; right: 0;
	height: 100%;
	width: 100%;
	border: 0;
	box-shadow: 0 0 25px 5px #ccc;	
	
}

.header, .center, .footer, .left, .right, .middle {
	position: absolute;
	margin: auto;
    box-sizing: border-box;
   
    
}

.center {
	top: 15%; left: 30%; right: 25%; bottom: 6%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

.left {
	top: 15%; left: 0; bottom: 6%;
	width: 30%;
    padding: 1%;
}

.right {
	top: 15%; right: 0; bottom: 6%;
	width: 25%;
}

.header {
	margin: 0 1% 0 1%;
	border-bottom: 1px solid #ccc;
	top: 0; left: 0; right: 0;
	height: 15%;
	text-align: center;
}
.footer {
	left: 0; right: 0; bottom: 0;
	height: 6%;
	margin: 0 1% 0 1%;
	border-top: 1px solid #ccc;
}

.logopic{
    max-width: 140px;
    max-height: 140px;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .category {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .noteHeader{
      color:#333;
  }